body
{
    background-color: #072238;
    /*color: lightblue;*/
    /*width: 200px;*/
    /*border: 2px solid #ffd700;*/
    font-family: 'Sora';
}

/*pieski ziarka*/
header h1
{
    color: #4EE787;
    font-size: 6rem;
}

/*sam case na p*/
header
{
    background-color: #263E51;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 3.5em;
    padding-left: 3.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 90%;
    max-width: 1500px;
    text-align: center;
}

/*glosuj na*/
header p
{
    color: #16D298;
    font-size: 3rem;
}

.post
{
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: #263E51;
    padding-top: 7em;
    padding-bottom: 5em;
    padding-right: 3.5em;
    padding-left: 3.5em;
}

.post img
{
    margin-top: auto;
    width: 100%;
}

.post .mocne
{
    margin-top: 1em;
    margin-bottom: auto;
    margin-left: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #6ab04c;
    color: white;
    font-size: 35px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

.post .mocne:hover
{
    background-color: #263E51;
}

/* lyzka 4*/
nav .container
{
    width: 90%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

nav ul
{
    list-style: none;
    display: block;
}

nav li
{
    list-style: none;
    display: inline-block;
}

nav
{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #596275;
    /*width: 1500px*/
}

nav .przycisk1 a, nav .przycisk2 a
{
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: bold;
}

nav .przycisk1 a:hover, nav .przycisk2 a:hover
{
    color: white;
}

nav .przycisk1 a:visited:hover, nav .przycisk2 a:visited:hover
{
    color: #ffd700;
}

nav li.przycisk1 a
{
    color: #30db60;
    margin-left: auto;
    margin-right: 1em;
}

nav li.przycisk2 a
{
    color: #30db60
}