*
{
    margin: 0%;
    padding: 0%;
}

body
{
    background-color: #072238;
    /*color: lightblue;*/
    /*width: 200px;*/
    /*border: 2px solid #ffd700;*/
    font-family: 'Sora';
}

/*pieski ziarka*/
header h1
{
    color: #4EE787;
    font-size: 2.5rem;
}

/*sam case na p*/
header
{
    background-color: #263E51;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/*glosuj na*/
header p
{
    color: #16D298;
    font-size: 1.5rem;
}

.post
{
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: #263E51;
    padding-top: 3em;
    padding-bottom: 1em;
    padding-right: 2em; 
    padding-left: 2em;
}

.post img
{
    margin-top: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    max-width: 100%;
}

.post .mocne
{
    margin-top: 0.2em;
    margin-bottom: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #6ab04c;
    color: white;
    font-size: 15px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    transition-duration: 300ms;
}
    
.post .mocne:hover
{
    background-color: #263E51;
}

/* lyzka 4*/
nav .container
{
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

nav ul
{
    list-style: none;
    display: block;
}

nav li
{
    list-style: none;
    display: inline-block;
}

nav
{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: auto;
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    background-color: #596275;
    /*width: 1500px*/
}

nav .przycisk1 a, nav .przycisk2 a
{
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    transition-duration: 200ms;
}

nav .przycisk1 a:hover, nav .przycisk2 a:hover
{
    color: white;
}

nav .przycisk1 a:visited:hover, nav .przycisk2 a:visited:hover
{
    color: #ffd700;
}

nav li.przycisk1 a
{
    color: #30db60;
    margin-left: auto;
    margin-right: 1em;
}

nav li.przycisk2 a
{
    color: #30db60
}

/* lyzka 4 */

footer
{
    width: 650px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 100px;
    /* display: flex; */
    justify-content: space-between;
}

#prawa
{
    color: white;
    font-size: 15px;
    float: left;
}

.social
{
    float: right;
}

/* .social:hover
{
    
    border: yellowgreen;
    border-width: 3px;
    
}
*/

.social a
{
display: inline-block;
margin-left: 5px;
}

.social img
{
    width: 35px;
}
