body
{
    background-color: #072238;
    /*color: lightblue;*/
    /*width: 200px;*/
    /*border: 2px solid #ffd700;*/
    font-family: 'Sora';
}


/*pieski ziarka*/
header h1
{
    color: #4EE787;
    font-size: 6rem;
}


/*sam case na p*/
header
{
    background-color: #263E51;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 3.5em;
    padding-left: 3.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}


/*glosuj na*/
header p
{
    color: #16D298;
    font-size: 3rem;
}


.post
{
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: #263E51;
    padding-top: 7em;
    padding-bottom: 5em;
    padding-right: 3.5em;
    padding-left: 3.5em;
}

.post img
{
    margin-top: auto;
    width: 100%;
}


.post .mocne
{
    margin-top: 1em;
    margin-bottom: auto;
    margin-left: 1em;
    /*display: block;*/   
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #6ab04c;
    color: white;
    font-size: 35px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}


.post .mocne:hover
{
    background-color: #263E51;
}


